/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

.navbar-default {
	background-color: #f1a1a1;
    border-color: #337ab7;

    .navbar-brand {
    	color: #337ab7;
    }
}

.intro-text {
	p {
		font-family: "Dejavu Sans";
		font-size: 120%;
	}
}

.btn-primary {
   	background-color: #f1a1a1;
   	border-color: #337ab7;
   	&:hover {
   		background-color: #337ab7;
   	}
}

.footer {
}

.homepage {
  text-align: center;
  

  table {
    .table-data {
    &:hover {background-color: #f5f5f5}
    }

    th {
      border: 2px solid #ddd;
      padding: 10px;
      text-align: left;
    }

    td {
      border: 2px solid #ddd;
      padding: 10px;
      text-align: left;
    }

    border-collapse: collapse;
    border: 2px solid #ddd;
    margin-left: auto;
    margin-right: auto;

  }
  p {
    font-family: "Dejavu Sans";
  }
  h2 {
    font-family: "Dejavu Sans";
  }
  h3 {
    font-family: "Dejavu Sans";
  }
  h4 {
    font-family: "Dejavu Sans";
  }
  th {
    font-family: "Dejavu Sans";
  }
  td {
    font-family: "Dejavu Sans";
  }
}

.user-index {
  text-align: center;
  

  table {
    .table-data {
    &:hover {background-color: #f5f5f5}
    }

    th {
      border: 2px solid #ddd;
      padding: 10px;
      text-align: left;
    }

    td {
      border: 2px solid #ddd;
      padding: 10px;
      text-align: left;
    }

    border-collapse: collapse;
    border: 2px solid #ddd;
    margin-left: auto;
    margin-right: auto;

  }
  p {
    font-family: "Dejavu Sans";
  }
  h2 {
    font-family: "Dejavu Sans";
  }
  h3 {
    font-family: "Dejavu Sans";
  }
  h4 {
    font-family: "Dejavu Sans";
  }
  th {
    font-family: "Dejavu Sans";
  }
  td {
    font-family: "Dejavu Sans";
  }
}

.general-show {
  text-align: center;
  

  table {
    .table-data {
    &:hover {background-color: #f5f5f5}
    }

    th {
      border: 2px solid #ddd;
      padding: 10px;
      text-align: left;
    }

    td {
      border: 2px solid #ddd;
      padding: 10px;
      text-align: left;
    }

    border-collapse: collapse;
    border: 2px solid #ddd;
    margin-left: auto;
    margin-right: auto;

  }
  p {
    font-family: "Dejavu Sans";
  }
  h2 {
    font-family: "Dejavu Sans";
  }
  h3 {
    font-family: "Dejavu Sans";
  }
  h4 {
    font-family: "Dejavu Sans";
  }
  th {
    font-family: "Dejavu Sans";
    align: center;
  }
  td {
    font-family: "Dejavu Sans";
  }
}


.head-logo {
	margin-top: 9px;
}