<% if user_signed_in? %>
	<%= render 'homepage'%>
<% else %>

	<div class="intro-text">
		<h2> Welcome to GemCase! </h2>
		<br>

		<p> Gemcase is a website designed as a catalog for your collections, </p>
		<p> with the added social features that are very much prominent in today's industry. </p>
		<p> You can keep track of your colletions, as well as see your's friend's, </p>
		<p> and rate them based on your opinions. </p>

		<br>
		<h3> Proceed to our login page to begin your GemCase experience! </h3>
		<%= link_to 'Login', new_user_session_path, class: "btn btn-primary btn-lg", role: "button" %>
	</div>
<% end %>
