<div class="user-index">
  <h1>Collectors</h1>

  <table cellpadding="10" cellspacing="10">
    <thead>
      <tr>
        <th>Name</th>
      </tr>
    </thead>
    <tbody>
      <% @collectors.each do |collector| %>
        <tr>
          <td align="center" valign="center"><%= collector.name %></td>
          <td><%= link_to 'Show', collectors_show_path(collector: collector) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>
</div>