<div class="general-show">  
  <p>
    <strong>Name:</strong>
    <%= @collector.name %>
  </p>

  <p>
    <strong>Photo:</strong>
    <div class="field">
    	<% if @collector.user.avatar? %>
    		<p><%= image_tag @collector.user.avatar.url(:thumb) %></p>
    	<% end %>
    </div>

  <p><strong>List of collections:</strong></p>
  <table cellpadding="10" cellspacing="10" style="margin-left: 500px">
    <thead>
      <tr>
        <th>Name</th>
      </tr>
    </thead>
    <tbody>
      <% @collections.each do |collection| %>
        <tr>
          <td align="center" valign="center"><%= collection.name %></td>
          <td><%= link_to 'Show', collection %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  </p>

  <br>
  <%= link_to 'All Collectors', collectors_index_path %> <br>
</div>