<div id="footer" class="footer">
  <% if user_signed_in? %>
  	<div class="btn btn-primary btn-lg" role="button">
    	<%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
    </div>
  <% end %>
</div>
