<div id="header">
  <nav class="navbar navbar-default">
  <div class="container-fluid">
    <img class="head-logo" alt="Brand" src="https://i.imgur.com/ixMraiw.png">
    <div class="navbar-header">
      <%= link_to 'GemCase', root_path, class: "navbar-brand" %> 
      </a>
    </div>
  </div>
</nav>

  <% if notice %>
    <p class="notice"><%= notice %></p>
  <% end %>
  <% if alert %>
    <p class="alert"><%= alert %></p>
  <% end %>
</div>
