<div class="homepage">
  <p id="notice"><%= notice %></p>

  <h1>Collections</h1>

  <table cellpadding="10" cellspacing="10">
    <thead>
      <tr>
        <th>Name</th>
        <th>Begin date</th>
        <th>Description</th>
        <th>Number of collectors</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @collections.each do |collection| %>
        <tr>
          <td align="center" valign="center"><%= collection.name %></td>
          <td align="center" valign="center"><%= collection.begin_date %></td>
          <% if collection.description.length > 15 %>
            <td align="center" valign="center"><%= collection.description[0, 20].chomp(" ").concat("...") %></td>
          <% else %>
            <td align="center" valign="center"><%= collection.description %></td>
          <% end %>
          <td align="center" valign="center"><%= collection.collectors_count %></td>
          <td><%= link_to 'Show', collection %></td>
          <% if user_signed_in? && current_user.company? && collection.company == current_user.company %>
            <td><%= link_to 'Edit', edit_collection_path(collection) %></td>
            <td><%= link_to 'Destroy', collection, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <% if user_signed_in? && current_user.level == "company" %>
    <%= link_to 'New Collection', new_collection_path %> <br>
  <% end %>

  <br>
</div>
