<div class="general-show">  
  <p id="notice"><%= notice %></p>

  <p>
    <% if @collection.avatar? %>
      <p><%= image_tag @collection.avatar.url(:thumb) %></p>
    <% end %>

    <strong>Name:</strong>
    <%= @collection.name %><br>

    <strong>Begin date:</strong>
    <%= @collection.begin_date %><br>

    <strong>Description:</strong>
    <%= @collection.description %><br>

    <strong>Coll count:</strong>
    <%= @collection.collectors_count %><br>

    <p>Collection Rating</p>
    <div id="star"></div>
    <script>
      $('#star').raty({
        readOnly: true,
        score: <%= @collection.average_rating %>,
        path: '/assets'
      });
    </script>
  </p>

  <% if @collection.items.size != 0 %>
    <table cellpadding="10" cellspacing="10">
      <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Collector's count</th>
          <th colspan="3" width="170"></th>
        </tr>
      </thead>
  <% end %>

    <tbody>
      <% @collection.items.each do |item| %>
        <tr>
          <td align="center" valign="center"><%= item.name %></td>
          <td align="center" valign="center"><%= item.description %></td>
          <td align="center" valign="center"><%= item.collectors.size %></td>
          <td><%= link_to 'Show', item %></td>
          <% if user_signed_in? %>
            <% if current_user.company? && item.collection.company == current_user.company %>
              <td><%= link_to 'Edit', edit_item_path(item, :collection => @collection) %></td>
              <td><%= link_to 'Delete', item, method: :delete, data: { confirm: 'Are you sure you want to delete item "' + item.name + '"?' } %></td>
            <% elsif current_user.collector? %>
              <% if current_user.collector.items.include?(item) %>
                <td><%= link_to 'Remove', collectors_remove_item_path(:item => item) %>
              <% else %>
                <td><%= link_to 'Add', collectors_add_item_path(:item => item) %>
              <% end %>
            <% end %>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>

  <% if user_signed_in? %>
    <% if current_user.company? && @collection.company == current_user.company %>
      <%= link_to 'New Item', new_item_path(:collection => @collection) %> |
      <%= link_to 'Edit', edit_collection_path(@collection) %> |
    <% end %>
  <% end %>
  <%= link_to 'Collections', collections_path %> |
  <%= link_to 'Home page', root_path %>

  <br/>
  <br/>
</div>