<%= form_for(item, html: { multipart: true }) do |f| %>
  <%= f.hidden_field :collection_id, :value => @collection.id %>
  <% if item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>

  <div class="field">
    <%= f.label :picture %>
    <%= f.file_field :avatar %>
  </div>

  <div class="field">
    <%= f.label :collection_id %>
    <%= f.label @collection.name %>
    <%-#= f.select :collection_id, options_for_select(Collection.all.map{|c|[c.name, c.id]}) %>
    <%-#= text_field(:collection_id, :name) %>

    <%-#= f.hidden_field :collection_id, :value => @collection.id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
