<p id="notice"><%= notice %></p>

<h1>Items</h1>

<table cellpadding="20" cellspacing="10">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td align="center" valign="center"><%= item.name %></td>
        <td align="center" valign="center"><%= item.description %></td>
        <td><%= link_to 'Show', item %></td>
        <% if user_signed_in? %>
          <% if current_user.company? && item.collection.company == current_user.company %>
            <td><%= link_to 'Edit', edit_item_path(item) %></td>
            <td><%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%-#= link_to 'New Item', new_item_path %>
