<div class="general-show">
  <p id="notice"><%= notice %></p>

  <p>

    <% if @item.avatar? %>
        <p> <%= image_tag @item.avatar.url(:thumb) %> </p>
    <% end %>
    <strong>Name:</strong>
    <%= @item.name %><br>

    <strong>Description:</strong>
    <%= @item.description %><br>

    <strong>Collection:</strong>
    <%= @item.collection_id %>
  </p>
  <p>Average rating</p>
  <div id="star"></div>
  <script>
    $('#star').raty({
      readOnly: true,
      score: <%= @item.average_rating %>,
      path: '/assets'
    });
  </script>
  <% if user_signed_in? %>
    <% if current_user.company? && @item.collection.company == current_user.company %>
      <%= link_to 'Edit', edit_item_path(@item, :collection => Collection.find(@item.collection_id)) %> |
    <% elsif current_user.collector? %>
      <p>Your rating</p>
      <div id="user_star"></div>
      <script>
        $('#user_star').raty({
          score: <%= @rating.score %>,
          path: '/assets',
          click: function(score, evt) {
            $.ajax({
              <% puts "tentei" %>
              url: '/ratings/' + <%= @rating.id %>,
              type: 'PATCH',
              data: { score: score }
            });
          }
        });
      </script>
    <% end %>
  <% end %>

  <%= link_to 'Back', collection_url(@item.collection_id) %>
</div>