<div class="user-index">
  <h1>Companies</h1>
  <table cellpadding="10" cellspacing="10">
    <thead>
      <tr>
        <th>Name</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @companies.each do |company| %>
        <tr>
          <td align="center" valign="center"><%= company.name %></td>
          <td><%= link_to 'Show', companies_show_path(company: company) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>
</div>