<div class="general-show">  
  <p>
    <strong>Name:</strong>
    <%= @company.name %>
  </p>
  <p>
    <strong>Picture: </strong>
    <div class="field">
    	<% if @company.user.avatar? %>
    		<p><%= image_tag @company.user.avatar.url(:thumb) %></p>
    	<% end %>
    </div>
  </p>

  <p>Company Rating</p>
  <div id="star"></div>
  <script>
    $('#star').raty({
      readOnly: true,
      score: <%= @company.average_rating %>,
      path: '/assets'
    });
  </script>

  <h1>Collections</h1>
  <table cellpadding="10" cellspacing="10">
    <thead>
      <tr>
        <th>Name</th>
        <th>Begin date</th>
        <th>Description</th>
        <th>Number of collectors</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @company.collections.each do |collection| %>
        <tr>
          <td align="center" valign="center"><%= collection.name %></td>
          <td align="center" valign="center"><%= collection.begin_date %></td>
          <td align="center" valign="center"><%= collection.description %></td>
          <td align="center" valign="center"><%= collection.collectors_count %></td>
          <td><%= link_to 'Show', collection %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>
  <%= link_to 'All Companies', companies_path %> <br>
</div>